{% include '/partials/header.html' %}
<body onload="startTime()" style="padding-top: 1px;">
    <main class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-10">
                    <h1 style="margin-bottom:0;"><i class="far fa-id-card"></i> Credential</h1>
                </div>
                <div class="col-sm-2">
                    <img src="/static/src/img/logo.png" height="80" alt="">
                </div>
            </div>
        </div>
        <h1 style="text-align: justify;margin-top: 10px;">บัตรหมดอายุในอีก {{ expire_in }} วัน</h1>
        <form id="main_form" autocomplete="off">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="box-body">
                            <div  align="center">
                                <img src={{image}} class="profile-image-credential"  id="profile-image-add" alt="/static/src/img/nobody.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="height: 100%;">
                    <fieldset style="text-align: left;font-size: 22px;">
                        <legend style="text-align: center;">Detail</legend>
                        <div class="row">
                            <div class="col-sm">
                                <label for="view-rfid">RFID No.</label>
                                <input type="text" name="rfid" class="form-control" placeholder="Enter RFID Number" id="view-rfid" maxlength="120" value="{{ rfid }}" style="font-size:22px;" readonly>
                            </div>
                            <div class="col-sm">
                                <label for="view-id_no">ID No.</label>
                                <input type="text" name="id" class="form-control" placeholder="Enter ID Number" id="view-id_no" maxlength="120" value="{{ id }}" style="font-size:22px;" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="view-first_name">First Name</label>
                                <input type="text" name="firstname" class="form-control" placeholder="Enter First Name" id="view-first_name" maxlength="120" value="{{ firstname }}" style="font-size:22px;" readonly>
                            </div>
                            <div class="col-sm">
                                <label for="view-last_name">Last Name</label>
                                <input type="text" placeholder="Enter Last Name" name="lastname" id="view-last_name" class="form-control" maxlength="120" value="{{ lastname }}" style="font-size:22px;" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="view-company">Company</label>
                                <input class="form-control" type="text" name="company" id="view-company" placeholder="Company" value="{{ company }}" style="font-size:22px;" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="view-status">Status</label>
                                <input type="text" name="status" class="form-control" id="view-status" value="{{ status }}" style="font-size:22px;" readonly>
                            </div>
                            <div class="col-sm">
                                <label for="view-contract">Contract Type</label>
                                <input class="form-control" type="text" name="contract" id="view-contract" placeholder="Contract Type" value="{{ contract_type }}" style="font-size:22px;" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="view-date_issue">Date of Issue</label>
                                <input type="text" name="date_issue" class="form-control" id="view-date_issue" value="{{ date_issue }}" style="font-size:22px;" readonly>
                            </div>
                            <div class="col-sm">
                                <label for="view-date_expire">Date of Expiry</label>
                                <input type="text" name="date_expire" class="form-control" id="view-date_expire" value="{{ date_expire }}" style="font-size:22px;" readonly>
                            </div>
                        </div>
                    </fieldset>
                    <div style="text-align: -webkit-center;margin-top: 50px;">
                        <h2 id="view-stamp_datetime" style="font-size: 200%;">Stamp On: {{ stamp_datetime }}</h2>
                        <h2 id="myclock" style="font-size: 300%;margin-top: 50px;"></h2>
                    </div>
                </div>
            </div>
        </form>
    </main>
<body>
{% include '/partials/footer.html' %}
<script src="/static/src/js/clock.js"></script>
