{% include '/partials/header.html' %}
<body onload="startTime()" style="padding-top: 1px;">
    <main class="container">
        <div class="row">
            {% for (i, image) in enumerate(images()) %}
                {% if i % 4 == 0 %}
                    {% if i != 0 %}
                        </div>
                        <div class="column">
                            <img src="{{ image }}">
                    {% else %}
                        <div class="column">
                            <img src="{{ image }}">
                    {% endif %}
                {% else %}
                    <img src="{{ image }}">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </main>
<body>
{% include '/partials/footer.html' %}
<script src="/static/src/js/clock.js"></script>
